@import url("../../styles/global.css");

/* ========================= */
/* 🌐 BASE */
/* ========================= */

.linkbridge {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: hidden;
}



/* ========================= */
/* 🎯 OVERLAY */
/* ========================= */

.overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(255,255,255,0.96) 0%,
    rgba(255,255,255,0.85) 30%,
    rgba(255,255,255,0.55) 50%,
    rgba(255,255,255,0.2) 65%,
    rgba(255,255,255,0) 80%
  );

  z-index: 1;
}

/* ========================= */
/* 📱 CONTAINER FIXO (MOBILE) */
/* ========================= */

.content {
  position: relative;
  z-index: 2;
  width: min(100%, 520px);
  max-width: 520px;
  height: 100vh;
  padding: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 22px;
  color: #1f2a37;
}

/* ========================= */
/* 🧩 LOGO */
/* ========================= */

.logo-container {
  width: 150px;
  filter: brightness(0) opacity(0.8);
  opacity: 0.7;
}

.logo-container img {
  width: 100%;
}

/* ========================= */
/* ✍️ TEXTO */
/* ========================= */

.header-text h1 {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
  color: #1f2a37;
}

.header-text h2 {
  font-size: 0.7rem;
  letter-spacing: 0.35em;
  margin-top: 10px;
  color: #8a7f75;
}

/* ========================= */
/* 🔘 BOTÕES */
/* ========================= */

.link-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 50%;
  padding: 14px 16px;
  border-radius: 14px;

  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;

  transition: all 0.25s ease;
  
}

/* PRINCIPAL */
.link-btn.primary {
  background: #1f2a37;
  color: #fff;

  padding: 8px 14px;
  border-radius: 16px;
}

.link-btn.primary:hover {
  transform: translateY(-2px);
  background: #111827;
}

.link-btn.primary .btn-text {
  display: flex;
  flex-direction: column;
}

.link-btn.primary small {
  font-size: 0.7rem;
  opacity: 0.7;
}

/* SECUNDÁRIOS */
.secondary-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-btn.outline {
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(0,0,0,0.08);
  color: #333;
}

.link-btn.outline:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* ========================= */
/* 🧠 CTA */
/* ========================= */

.footer-cta{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.footer-cta span {
  font-size: 0.65rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6b6b6b;
}

.footer-line {
  width: 50px;
  height: 2px;
  background: #c7a17a;
  margin-top: 6px;
}
